{% extends "account/base.html" %}
{% load static %}

{% block CustomCssLink %}
<link rel="stylesheet" href="{% static 'account/css/register.css' %}">
{% endblock CustomCssLink %}

{% block title %}Password Change Page{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Change Password</h2>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <div class="input-group">
                <i class="fa-solid fa-eye-slash togglePassword"></i>
                <input type="password" id="oldpass" name="old_password" required value="{{form.old_password.value|default:""}}">
                <label for="oldpass">Old Password</label>
                {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                        <span class="input-error">{{error|striptags}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="input-group">
                <i class="fa-solid fa-eye-slash togglePassword"></i>
                <input type="password" id="newpass1" name="new_password1" required value="{{form.new_password1.value|default:""}}">
                <label for="newpass1">New Password</label>
                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <span class="input-error">{{error|striptags}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="input-group">
                <i class="fa-solid fa-eye-slash togglePassword"></i>
                <input type="password" id="newpass2" name="new_password2" required value="{{form.new_password2.value|default:""}}">
                <label for="newpass2">Password Confirmation</label>
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <span class="input-error">{{error|striptags}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="button-group">
                <button type="submit" class="btn signUpBtn">Change Password</button>
            </div>
        </form>
    </div>
{% endblock content %}